
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
    .splash {
        display: none;
    }
}

* {
    /*border: 1px solid red !important;*/
    font-family: 'Lato', sans-serif;
    color: #747004;
}

.grid {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 0px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.67%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.67%;
}                                   

.col-6 {
    width: 50%;
} 

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.67%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.67%;
}

.col-12 {
    width: 100%;
}

.right-just {
    text-align: right;
    float: right;
}

.header {
    margin-bottom: 30px;
    border-bottom: 3px solid #bcbbbb;
}
    
h1, h3, h4 {
    text-transform: uppercase;
}

h1 {
    font-weight: 200;
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 10px;
}

h2 {
    font-size: 40px;
    margin-bottom: 10px;
    color: #BCBBBB;
}

h3 {
   font-size: 30px;
   margin: 10px;
}

h4 {
font-size: 20px;
margin-bottom: 0px;
margin-top: 10px;
}

img {
    margin: 0 auto;
}

.appify {
    text-align: center;
}

.begin {
    padding-right: 26px;
}

.end {
    padding-left: 26px;
}